@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
  font-family: "CustomFont";
  src: url("../public/assets/fonts/Gabarito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.flip-container {
  perspective: 1000px; /* Depth of the 3D effect */
}

.flip-container:hover .flipper {
  transform: rotateY(180deg); /* Flipping the card on hover */
}

.flipper {
  transition: transform 0.6s; /* Smooth transition for the flip effect */
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden; /* Prevents the back of the flipped card from being visible */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  transform: rotateY(180deg); /* Flips the back side initially */
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8c8c8c;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  border-radius: 100px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.slide-content.fade-up {
  opacity: 1;
  transform: translateY(0);
}

.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 100vh; 
}

.transition-all {
  transition: max-height 0.3s ease-in-out, opacity 1s ease-in-out;
}


.animate-slide-left {
  animation: slide-left 20s linear infinite;
}

.animate-slide-right {
  animation: slide-right 20s linear infinite;
}

@media (max-width: 768px) {
  .animate-slide-left {
    animation: slide-left 10s linear infinite;
  }

  .animate-slide-right {
    animation: slide-right 10s linear infinite;
  }
}

@media (max-width: 480px) {
  .animate-slide-left {
    animation: slide-left 5s linear infinite;
  }

  .animate-slide-right {
    animation: slide-right 5s linear infinite;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
